/* Add some texture to the sidebar */

#sidebar .well {
    background-image: url('concrete-wall.png');
}

/* Handle some colors all in the same place to try to keep colors consistent. */

/* Color the navbar... */
.navbar-default {
    background-color: #322525;
    border-color: #322525;
}

/* A dark horizontal rule shows up better. */

hr {
    border-top-color: #322525;
}

/* Make the buttons match the rest of the theme */

.label-default {
    background-color: #322525;
}

/* And make the title background in the banner match */

#banner .copy {
    background-color: rgba(50, 37, 37, 0.7);
    border-radius: 30px;
}

/* I don't want the article metadata in a well, I want it to
   blend in with the page background. */

article .well {
    background-color: #ffffff;
}

/* Tighten up spacing of list items in sidebar... */

#sidebar .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ...but we still need a gap between list groups. */

#sidebar .list-group-item > .list-group {
    margin-bottom: 10px;
}

/* Tag cloud should be indented like everythign else. */

.tagcloud {
    margin-left: 24px;
}

/* Fix up the output area in IPython notebooks until fix is merged
   in pelican-bootstrap3. */

div.output_area {
    padding: 0;
    page-break-inside: avoid;
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display:-moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    display: flex;
    flex-direction: row;
    align-items: stretch
}

